* {
  text-align: center;
}

input[type="text"]{
  width: 200px;
  height: 20px;
  background: white;
  border-radius: 6px;
  color: black;
  text-align: left;
  margin: 50px 5px;
}

.weather-card{
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 100px;
  border: 2px solid black;
  border-radius: 6px;
  margin: 10px;
}
.weather-cards{
  display: flex;
  justify-content: center;
}